<p id="notice"><%= notice %></p>

<p>
  <strong>Receipt:</strong>
  <%= @item.receipt_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @item.qty %>
</p>

<p>
  <strong>Type:</strong>
  <%= @item.type %>
</p>

<%= link_to 'Edit', edit_receipt_item_path(@receipt,@item) %> |
<%= link_to 'Back', receipt_items_path(@receipt) %>
