!!! 5
%html{:lang => "en"}
    %head
        %meta{:charset => "UTF-8"}
        %title Receipts
        = csrf_meta_tags
        = csp_meta_tag
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
        = javascript_pack_tag 'receipts'
    %body
        #vue-app
            = yield
